.MuiPaper-root.MuiDrawer-paper {
    background-image: url("../../../public/images/map1.jpg");
    background-color: rgba(255,255,255,1);
}
.MuiDrawer-paper p.shelfHeader {
  min-width: 400px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 0 12px;
}

.pageLink {
  cursor: pointer;
  padding: 6px 6px 6px 24px;
  border: 1px solid rgba(0,0,0,0)
}

.pageLink + hr {
    margin-top:  24px;
    border-top-width: 2px;
  }
.pageLink:hover {
  background: rgba(255,255,255,0.4);
  border-top: 1px solid rgb(147, 147, 147);
  border-bottom: 1px solid rgb(147, 147, 147);
}
.pageLink a:link, 
.pageLink a:hover, 
.pageLink a:visited, 
.pageLink a:active{
    font-weight:500;
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
  }
