.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  max-height: 100vh;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.charList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 12px;
  overflow-y: auto;
}

.characterRow {
  cursor: pointer;
  border: 1px solid rgba(255,255,255,0.4);
  margin-bottom: 6px;
  min-height: 74px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap !important;
  overflow: hidden;
}
.deceasedBanner{
  font-size: 14px;
  transform: rotate(45deg);
  position: relative;
  color: white;
  background: rgb(251, 8, 8);
  padding: 6px 32px;
  z-index: 1;
  right: -26px;
  top: 18px;
  box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.5);
}